<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Go2ShellNext needs to send Apple Events to Finder and Terminal applications to open a shell at the current directory.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.go2shellnext.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>go2shellnext</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
